<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Panoptic", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Processes", root_path, class: class_names("nav-link", "active": current_page?(root_path)) %>
        </li>

        <li class="nav-item">
          <%= link_to "Queues", queues_path, class: class_names("nav-link", "active": current_page?(queues_path)) %>
        </li>

        <li class="nav-item">
          <%= link_to "Jobs", jobs_path, class: class_names("nav-link", "active": current_page?(jobs_path)) %>
        </li>
      </ul>
    </div>
  </div>
</nav>