<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class</th>
      <th scope="col">Queue</th>
      <th scope="col">Scheduled</th>
      <th scope="col">Finished</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "panoptic/jobs/job", collection: @jobs %>  
  </tbody>
</table>
