<h1>Queues</h1>

<div class="card">
  <div class="card-header">
    Queue name
  </div>
  
  <ul class="list-group list-group-flush">
    <%= render partial: "queue", collection: @queues %>
  </ul>
</div>